doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='../css/font-awesome.css')
    link(rel='stylesheet' type='text/css' href='../css/index.css')
    script(type='text/javascript' src='../vendor/three.min.js')
    script(type='text/javascript' src='../vendor/photo-sphere-viewer.js')
    script(type='text/javascript' src='../bootstrap.js')
  body
    #wrapper
      #frame
      #top
      #left
      #bottom
        #info
          label werwaeraere kwerjwekr
          p some text and its all the same
          p what now??
          p do this and that
        #settings
          label werwaeraere kwerjwekr
          p some text and its all the same awrawer awer awer awer 
          p what now??
          p do this and that
      #container
        #sphereview
