#top {
  position: fixed;
  top: 0; left: 0;
  right: @widthFrame;
  height: auto;
  background: white;
  z-index: 5;


  max-height: calc(~"100vh - " @heightBottom);
  //transition: max-height .16s cubic-bezier(0.4, 0, 1, 1);


  &.oneline {

    max-height: 200px;
    //transition: max-height .26s cubic-bezier(0.4, 0, 1, 1);

    #bar {

      .filter-bar {
        position: relative;
      }

      .sphere-thumbs {
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin: 2px 4px;

        .thumb-group {
          min-width: 70px;
          max-width: 70px;
          margin-top: 0;
        }

        .sphere-thumb-wrapper {
          min-width: 225px;
          .thumb {

          }
        }

      }
    }
  }

  #bar {
    overflow: auto;
    max-height: inherit;
    position: relative;

    .filter-bar {
      background: @colormain5;
      padding: 6px;
      height: @heightFilterBar;
      display: flex;
      flex-direction: row;
      align-items: center;

      position: fixed;
      left: 0;
      top: 0;
      right: @widthFrame;
      z-index: 1;

      .filter-container {

        position: relative;

        .filter-hint {
          &:hover {
            .hints {
              display: block;
            }
          }
          .hints {
            display: none;
            position: absolute;
            background: white;
            padding: 4px 6px;
            border-radius: 2px;
            span {
              color: @colorsec1;
              font-size: .8em;
              white-space: nowrap;
            }
          }
          position: absolute;
          right: 5px;
          top: 4px;
          color: rgba(25, 133, 161, 0.57);
          font-size: 1.2em;
          line-height: 1.2em;
        }

        input.filter-input {
          position: relative;
          height: 75%;
          border: none;
          padding: 2px 10px;
          font-size: 1.1em;
        }
      }
    }

    .sphere-thumbs {

      margin-top: @heightFilterBar + 10;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;

      overflow: auto;
      //max-height: calc(~"100vh - " @heightBottom);


      .thumb-group {
        &:first-child {
          margin-top: 0;
        }
        margin-top: 35px;
        float: left;
        width: 100%;
        text-align: center;
        //box-shadow: inset 0px 0px 6px 0px rgba(1,1,1,.5);
        padding: 7px;
        box-sizing: border-box;
      }

      .sphere-thumb-wrapper {
        position: relative;

        width: 225px;
        height: 130px;
        margin: 3px 5px;

        box-shadow: inset 0px 0px 0px 20px @colormain4;
        display: flex;
        justify-content: center;
        align-items: center;

        .thumb {

          width: calc(~"100% - 12px");
          height: calc(~"100% - 12px");

          background-repeat: no-repeat;
          background-position: 50% 50%;


          img {

          }
        }
      }
    }
  }

}
